__pycache__


word2vec_models/
env/

**/*.csv
**/*/*.csv
**/*/*/.csv
**/*/*/*/.csv
**/*/*/*/*/.csv


**/workspaces/*/data/*
**/workspaces/*/workspace/doc2vec/*

**/*.txt
**/*/*.txt
**/*/*/.txt
**/*/*/*/.txt
**/*/*/*/*/.txt