{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>
    <script src="{% static 'js/tools.js' %}" defer></script>
    <script src="{% static 'js/doc2vec.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <title>pel_mel</title>
    <style>
      #tabledoc2vecform td {
        text-align: left;  
        
    }

    

    </style>
</head>
<body style="width: 100vw; text-align: center; ">
  <nav class="navbar sticky-top bg-body-tertiary" >
    <div class="container-sm">
      <a class="navbar-brand btn btn-sm btn-outline-dark"data-bs-toggle="modal" data-bs-target="#traitementModal" href="" >Préparer les nuages de mots par thématiques </a>
      <button class="btn btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#aideModal">Aide ?</button>
     
    </div>
  </nav>
              <!-- préparer nuage de mots-->
              <div class="modal fade" id="traitementModal" tabindex="-1" aria-labelledby="traitementModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="traitementModalLabel">Préparer les nuages de mots par thématiques </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                   
                    <div class="modal-body">
                   <form action="" method="post" enctype="multipart/form-data" style="display: inline-block;" >
                         {% csrf_token %}
                         <label for="corpus">Sélectionner le corpus nettoyé initial (.txt) : </label>
                         <input type="file" class="form-control-file" id="corpus" name="corpus" accept=".txt"> 
                         <br>
                         <label for="thematiques">Sélectionner les thématiques (.csv) : </label>
                        <input type="file" class="form-control-file" id="thematiques" name="thematiques" accept=".csv"> 
                        <br>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" value="Préparer" >
                    </div>
                  </div>
                  </form>
                  </div>
                </div>
              </div>     



     <main>
        

            <form action="{% url 'doc2vec' %}" method="post" enctype="multipart/form-data" style="margin-top: 5px; width: 100vw;">

                    {% csrf_token %}
                    <div class="container">
                      <table class="table" id="tabledoc2vecform">
                        <tbody>
                          <tr>
                            <td>
                              <label for="msgZip">Sélectionner le répertoire des messages zippé :</label>
                            </td>
                            <td>
                              <input type="file" class="form-control-file" id="msgZip" name="msgZip" accept=".zip" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="thematiquesZip">Sélectionner le répertoire des thématiques zippé :</label>
                            </td>
                            <td>
                              <input type="file" class="form-control-file" id="thematiquesZip" name="thematiquesZip" accept=".zip" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="thematique1">Sélectionner la liste des thématiques de niveau 1 :</label>
                            </td>
                            <td>
                              <input type="file" class="form-control-file" id="thematique1" name="thematique1" accept=".csv" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="thematique2">Sélectionner la liste des thématiques de niveau 2 :</label>
                            </td>
                            <td>
                              <input type="file" class="form-control-file" id="thematique2" name="thematique2" accept=".csv" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="thematique3">Sélectionner la liste des thématiques de niveau 3 :</label>
                            </td>
                            <td>
                              <input type="file" class="form-control-file" id="thematique3" name="thematique3" accept=".csv" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="dimVec">Dimensionnalité des vecteurs d'apprentissage Doc2vec :</label>
                            </td>
                            <td>
                              <input type="number" name="dimVec" id="dimVec" min="1" value="8" class="form-control" style="width:80px" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="freqMin">Ignorer tous les mots dont la fréquence totale est inférieure à :</label>
                            </td>
                            <td>
                              <input type="number" name="freqMin" id="freqMin" min="0" value="2" class="form-control" style="width:80px" required>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="epochs">Nombre d'itérations (epochs) sur le corpus :</label>
                            </td>
                            <td>
                              <input type="number" name="epochs" id="epochs" min="0" value="40" class="form-control"  style="width:80px" required>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
               <br>
                <input type="submit" class="btn btn-outline-primary" value="Lancer la classification">
                
            </form>
            <hr>


            <br>


            </div>
            <table class="table" style="width: 70vw;margin: auto; text-align: center;">
              <thead>
                <tr>
                  <th scope="col" style="width:150px">ID Message</th>
                  <th scope="col">
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Thématique NV1
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="ulLevel1">
                        <li class="dropdown-item" >Tous</li>
                      </ul>
                    </div>
                    <span id="appliedNV1">[Tous]</span>
                  </th>
                  <th scope="col">
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Thématique NV2
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="ulLevel2" >
                        <li class="dropdown-item" >Tous</li>
                      </ul>
                    </div>
                    <span id="appliedNV2">[Tous]</span>
                  </th>
                  <th scope="col">
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Thématique NV3
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="ulLevel3">
                        <li class="dropdown-item" >Tous</li>
                      </ul>
                    </div>
                    <span id="appliedNV3">[Tous]</span>
                  </th>
                  <th scope="col">
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle"  role="button" id="validation" data-bs-toggle="dropdown" aria-expanded="false">
                        Validation
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="dropdown-item" id="validationT" >Tous</li>
                        <li class="dropdown-item" id="validationV"  >Validés</li>
                        <li class="dropdown-item" id="validationN" >Non validés</li>

                      </ul>
                      
                    </div>
                    <span id="appliedV">[Tous]</span>
                  </th>
                  <th scope="col">Voir </th>


                </tr>
              </thead>
              <tbody id="resultat">
                  {{resultat}}
              </tbody>
             
            </table>
            <div id="voirdoc" style="display:none;top:15vh;position:fixed ;width:60vw; height:70vh;background-color: #e8ebde; margin-left:20vw; overflow-y: auto;" >
              <button type="button" class="close" aria-label="Close" style="float:right; margin: 5px" >
                <span aria-hidden="true">&times;</span>
              </button>
              <div id="repertoire"></div>
              <div id="docContent">
                
              </div>
            </div>
          
     </main>




<div class="modal fade" id="aideModal" tabindex="-1" aria-labelledby="aideModalLabel" aria-hidden="true" >
  <div class="modal-dialog d-flex justify-content-center" style="width: 60vw; ">
    <div class="modal-content " style="width: 60vw; background-color: beige;">
      <div class="modal-header">
        <h5 class="modal-title" id="aideModalLabel">Aide</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="width: 60vw;">
      <ul>
          
      </ul>

 

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<br>
</body>

</html>