{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>
    <script src="{% static 'js/tools.js' %}" defer></script>
  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" defer ></script>
    <title>pel_mel</title>
    <style>


    </style>
</head>
<body style="height: 100vh;">
  <nav class="navbar sticky-top bg-body-tertiary" >
    <div class="container-sm">
      <a class="navbar-brand btn btn-sm btn-outline-dark"data-bs-toggle="modal" data-bs-target="#fichierModal" href="" >Créer un corpus</a>
      <a class="navbar-brand btn btn-sm btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#traitementModal" href="" >Traiter un corpus </a>
      <button class="btn btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#aideModal">Aide ?</button>
      <a  href="{% url 'administrateur' %} " style="float: right; cursor: pointer;" title="admin dashboard">
        <svg style="width: 40px; height:auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-key-fill" viewBox="0 0 16 16">
          <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
      </a>
    </div>
  </nav>

  <hr>
        

      <!-- choisir Zip Modal -->
      <div class="modal fade" id="fichierModal" tabindex="-1" aria-labelledby="fichierModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="fichierModalLabel">choisir un fichier zippé</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
           <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <input type="file" class="form-control-file" id="zipFile" name="zipFile" accept=".zip">  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Créer" >
            </div>
          </form>
          </div>
        </div>
      </div>

            <!-- traitement fichier Modal -->
            <div class="modal fade" id="traitementModal" tabindex="-1" aria-labelledby="traitementModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="traitementModalLabel">Sélectionner le corpus à traiter </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                 <form action="" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                      <input type="file" class="form-control-file" id="corpus" name="corpus" accept=".txt"> 
                      <br>
                      <br>
                      
                        <input type="checkbox"  id="clean"  name="toClean" checked disabled>
                        <label  for="clean" > Nettoyer</label>
                        <br>
                    
                        <input type="checkbox" id="split" name="toSplit">
                        <label  for="split"> Segmenter en phrases</label>
                      
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Traiter" >
                  </div>
                </div>
                </form>
                </div>
              </div>
            </div>
      <!-- Aide Modal -->
<div class="modal fade" id="aideModal" tabindex="-1" aria-labelledby="aideModalLabel" aria-hidden="true" >
    <div class="modal-dialog d-flex justify-content-center" style="width: 60vw;">
      <div class="modal-content " style="width: 60vw;">
        <div class="modal-header">
          <h5 class="modal-title" id="aideModalLabel">Aide</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="width: 60vw;">
        <ul>
            <li>Pour commencer : 
                <ol style="list-style: upper-roman;">
                    <li>Au nineau du menu « Fichier » :
                        <ul>
                            <li>Créer votre corpus : <ul>
                                <li>Dans le menu « Fichier », cliquer sur « créer un corpus »;</li>
                                <li>Sélectionner le répertoire parent qui contient les sous-répertoires / fichiers (.txt, .doc, .pdf, .xml (pour les e-mail)...);</li>
                                <li>Suivre les indications jusqu'à la fin du processus (création de corpus, nettoyage de corpus, segmentation par phrases);</li>
                                <li>Le logiciel crée automatiquement un répertoire « workspace » (s'il n'ai pas déjà créé) dans la racine du projet (là où vous avez installé le logiciel).</li>
                                <li>Dans le workspace, vous trouverez tous les fichiers créés (le corpus initial, le corpus nettoyé, le corpus segmenté en phrases...), ainsi que d'autres répertoires vides (Entités nommées, Termes, Relations...) pour sauvegarder les différents fichiers de sortie par la suite.</li>
                                <li>Nettoyer un corpus existant.</li>
                                <li>Visualiser un corpus existant.</li>
                               
                            </ul></li>
  
                        </ul>
                    </li>
                    <li>
                        Au niveau de cette fenêtre pricipale, il y a 5 boutons principaux :
                            <ol>
                                <li>Entités nommées</li>
                                <li>Termes</li>
                                <li>Extraction de relations symantiques entre termes par la méthode des patrons</li>
                                <li>Extraction de relations entre termes par la méthode symbolique (Word2Vec)</li>
                                <li> Classification des messages par thématiques</li>
                            </ol>
                    </li>
                </ol>
            </li>
            
        </ul>

     <p> Pour les détails d'utilisation de ces 5 boutons, vous allez trouver des guides d'utilisations dans chaque nouvelle fenêtre ouverte.</p>       
   

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      <div class="flex-grow-1 text-center d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
              <div class="col"><a class="btn btn-outline-primary" href="{% url 'en' %}" role="button">Entités Nommées</a></div>
              <div class="col"><a class="btn btn-outline-primary" href="{% url 'termes' %}"  role="button">Termes</a></div>
            </div>
            <hr>
            <p class="h3">Extraction de relation sémantiques entre termes</p>
            <div class="container">
                <div class="row">
                  <div class="col"><a class="btn btn-outline-primary" href="{% url 'relations' %}"   role="button">Méthode des patrons</a></div>
                  <div class="col"><a class="btn btn-outline-primary" href="{% url 'word2vec' %}"  role="button">Méthode symbolique <br> (Word2Vec)</a></div>
                </div>
                <hr>
                <div ><a class="btn btn-outline-primary" href="{% url 'doc2vec' %}"   role="button">Classification de messages <br> (Doc2Vec)</a></div>
      </div>
     </div>
     </div>
</body>
</html>