{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/en.css' %}">
    <script src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>
    <script src="{% static 'js/tools.js' %}" defer></script>
    <script src="{% static 'js/en.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <title>pel_mel</title>

    <style>
      #table_organisations tbody,
      #table_personnes tbody {
          height: 500px;
          overflow-y: auto !important;
      }

      #spinner-container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 9999;
      }
      #loadMsg{
          position: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9999;
          color: rgb(97, 52, 1);
            font-weight: bold;
      }
      .spinner-border {
          width: 200px;
          height: 200px;
          color: #007bff;
      }
  </style>
</head>

<body style="height: 100vh;">
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
          
            <div class="dropdown  me-2">         
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                   Fichier
                  </button>            
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item "  href="" >Ouvrir une liste de termes existante</a></li>
                    <li><a class="dropdown-item" href="" >Valider une liste de termes </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Fusionner plusieurs listes de termes</a></li>
                </ul>
             </div>
        
          <button class="btn btn-sm btn-outline-primary" type="button" >Aide ?</button>
        </form>
      </nav>
      <div id="spinner-container" style="display: none;">
        <div id="spinner" class="spinner-border" role="status" style=" width: 200px;">
            <span class="sr-only"></span>
        </div>
        <div id="loadMsg">Extraction des termes...</div>
    </div>
    <form action="{% url 'termesAPI' %}" method="post"  id="my-form" enctype="multipart/form-data" style="margin-top: 5px;">
        <fieldset style="text-align: center;">
            {% csrf_token %}
            <br>
            <br>
            <input type="file" class="form-control-file" id="corpus" name="corpus" accept=".txt" required><br><br>
            
            <div class="form-check form-switch form-check-inline"> 
                <label class="form-check-label" for="flexSwitchCheckChecked">Reduire les termes à leur racine </label>
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked name="reduire"> 
              </div>  <br><br>
              <label for="" > Méthode de Scoring : </label>
              <select class="form-select" name="methodeScoring"  aria-label="Default select example" style="width : 190px; display: inline-block;">
                <option value="TFIDF_STANDARD" selected>TFIDF_STANDARD</option>
                <option value="FREQUENCE">FREQUENCE</option>
                <option value="TFIDF_LOG">TFIDF_LOG</option>
              </select>
              <br><br>
              <label for="min">Nombre min de mots dans un terme : </label>
              <input type="number" name="min" id="min" min="1" style="width: 70px;" required> <br><br>
              <label for="min">Nombre max de mots dans un terme : </label>
              <input type="number" name="max" id="max" min="1" style="width: 70px;" required>
              <br><br>

              <input type="submit" class="btn btn-primary" value="Lancer la recherche des termes">
        </fieldset>
    </form>
    <hr>
    <div style="width: 100vw; text-align: center;">
        <a href="#" class="btn btn-primary disabled" role="button" data-bs-toggle="button">valider</a> <br>
        <label for=""> Trier par ordre : &nbsp; &nbsp; </label>
        <div class="form-check" style="display: inline-block;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Décroissant des scores &nbsp; &nbsp;
            </label>
          </div>
          <div class="form-check" style="display: inline-block;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Alphabétique des termes
            </label>
          </div>
    </div>
    <table class="table" id="termes" style="width: 70vw;margin: auto; text-align: center;">
        <thead>
          <tr>
            <th scope="col" style="width:50px">Num</th>
            <th scope="col">Terme</th>
            <th scope="col">Score</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        {{termes}}
      </table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</html>