{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/en.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="{% static 'js/drawGrph.js' %}" defer></script>
    <script src="{% static 'js/drawGrph.js' %}" defer></script>
    <script src="{% static 'js/tools.js' %}" defer></script>
    <script src="{% static 'js/en.js' %}" defer></script>
    <script src="{% static 'js/validationIntervalleScore.js' %}" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <title>pel_mel</title>


</head>

<body style="height: 100vh;">
  <nav class="navbar sticky-top bg-body-tertiary" >
    <div class="container-sm">
      <button class="btn btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#aideModal">Aide ?</button>
    </div>
  </nav>

      <div id="spinner-container" style="display: none;">
        <div id="spinner" class="spinner-border" role="status" style=" width: 200px;">
            <span class="sr-only"></span>
        </div>
        <div id="loadMsg">Extraction des termes...</div>
    </div>
    <form action="{% url 'termesAPI' %}" method="post"  id="my-form" enctype="multipart/form-data" style="margin-top: 5px;" style="width:100vw; ">
      
            {% csrf_token %}
            <br>
          <table class="table" style="width:60vw; margin:auto">
            <div class="container">
            <tr>
            <td>
            <label for="corpus"> choisir le corpus nettoyé et segmenté : </label>

            </td>
              <td>
            <input type="file" class="form-control-file" id="corpus" name="corpus" accept=".txt" required><br><br>

              </td>
            </tr>
            <tr>
              <td>
                <label class="form-check-label" for="flexSwitchCheckChecked">Reduire les termes à leur racine </label>

              </td>
            <td>
              <div class="form-check form-switch form-check-inline"> 
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked name="reduire"> 

              </div> 

            </td>
            </tr>
            <tr>
              <td>
              <label for="" > Méthode de Scoring : </label>

              </td>
              <td>
                <select class="form-select" name="methodeScoring"  aria-label="Default select example" style="width : 190px; display: inline-block;">
                  <option value="TFIDF_STANDARD" selected>TFIDF_STANDARD</option>
                  <option value="FREQUENCE">FREQUENCE</option>
                  <option value="TFIDF_LOG">TFIDF_LOG</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
              <label for="min">Nombre min de mots dans un terme : </label>

              </td>
              <td>
              <input type="number" name="min" id="min" min="1" value="2" style="width: 70px;" required> <br><br>
              </td>
            </tr>
            <tr>
              <td>
              <label for="min">Nombre max de mots dans un terme : </label>

              </td>
              <td>
              <input type="number" name="max" id="max" min="1" value="4" style="width: 70px;" required>
              </td>
            </tr>
          </table>


              <input type="submit" class="btn btn-primary" value="Lancer la recherche des termes">
        </div>
    </form>
    <hr>
    <div style="width: 100vw; text-align: center;">
        <button type="button" class="btn btn-success " id="intervalleButton">valider par intervalle de score</button>
        <a href="{% url 'validationTermes' %}"  class="btn btn-primary disabled"  id="valideButton">valider</a> 
        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#listeModal" id="listeButton">valider avec une liste de termes</button>

        <br>
        <!-- graphe -->
      <div id="graphique">
          <canvas id="myChart" style="margin: auto; min-height : 300px; min-width: 500px;"></canvas>
        </div>
     
        <label for=""> Trier par ordre : &nbsp; &nbsp; </label>
          <div class="form-check" style="display: inline-block;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked disabled>
            <label class="form-check-label" for="flexRadioDefault2">
              Alphabétique des termes
            </label>
          </div>
    </div>
    <div id="data">
    <table class="table" style="width: 70vw;margin: auto; text-align: center;">
        <thead>
          <tr>
            <th scope="col" style="width:50px">Num</th>
            <th scope="col">Terme</th>
            <th scope="col">Score</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody id="termes"></tbody>
       
      </table>
    </div>
 

          <!-- choisir liste terme Modal -->
          <div class="modal fade" id="listeModal" tabindex="-1" aria-labelledby="listeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="listeModalLabel">choisr la liste des termes (*.csv) </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
    
                <div class="modal-body">
               <form action="" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <input type="file" class="form-control-file" id="listeTerme" name="listeTerme" accept=".csv">  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Valider" >
                </div>
              </form>
              </div>
            </div>
          </div>




                <!-- Aide Modal -->
      <div class="modal fade" id="aideModal" tabindex="-1" aria-labelledby="aideModalLabel" aria-hidden="true" >
        <div class="modal-dialog d-flex justify-content-center" style="width: 60vw;">
          <div class="modal-content " style="width: 60vw;">
            <div class="modal-header">
              <h5 class="modal-title" id="aideModalLabel">Aide</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="width: 60vw;">
            <ul>
                <li>Pour commencer : 
                    <ol style="list-style: circle;">
                       <li>Soumettre le fichier segmenté en phrases à l'accueil de l'application (Il se trouve dans le fichierZip téléchargé)</li>
                       <li>Lancer la recherche qui prendra  plusieurs minutes</li>
                        <li>Une fois la recherche terminée: </li>
                        <ol>
                          <li>vous pouvez valider les termes en cliquant sur <strong> valider </strong></li>
                          <li>Ou valider via une liste de termes : </li>
                          <ol>
                            <li>une fois la modale affichée : </li>
                            <li>Choisir un fichier csv dont chaque ligne contient <span style="color: red;">1 champ</span> </li> 
                            <li>Soumettre ce fichier :</li>
                            <li>il vous renvoiera par la suite les termes trouvés qui figure dans votre liste de termes</li>

                          </ol>
                        </ol>

                    </ol>
                </li>
                
            </ul>
         
       
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>



</html>