{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/en.css' %}">
    <script src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" defer ></script>
    <script src="{% static 'js/generefileTermes.js' %}" defer></script>
    <script src="{% static 'js/validationE.js' %}" defer></script>
    


    <title>pel_mel</title>

</head>
<body style="width: 100vw; text-align: center; ">
</form>

    <nav class="navbar sticky-top bg-body-tertiary" style="background-color: #e8ebde;">
        <div class="container-sm">
          <button class="btn btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#aideModal">Aide ?</button>
        </div>
      </nav>
      <br>
      <form action="{% url 'validationEnOr' %}" method="post" enctype="multipart/form-data" style="margin-top: 5px;" id="fichierVal" >
        <fieldset style="text-align: center;">
            {% csrf_token %}
            <input type="file" class="form-control-file" id="EnsValidation" name="EnsValidation" accept=".csv" >
            <input type="submit" class="btn btn-outline-primary" id="validerF" value="Valider avec un fichier">
        </fieldset>
    </form>
    <br>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-warning toggle-print" id="buttonA" >Elements en attente de validation 
        <span class=" download-att btn btn-sm btn-outline-dark" >
          <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>
        </span>



        </button>
        <button type="button" class="btn btn-success toggle-print " id="buttonV" >Elements validés
          <span class=" download-val btn btn-sm btn-outline-dark" >
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </span>

        </button>
        <button type="button" class="btn btn-danger toggle-print " id="buttonS" >Elements supprimés

          <span class=" download-sup btn btn-sm btn-outline-dark" >
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </span>
        </button>
      </div>
      <br>
      <br>
      <table class="table" id="attente" style="width:70vw;margin:auto">
        <thead>

            <th style="width: 10px;">Num</th>
            <th>Personnes</th>
            <th  scope="col">Supprimer</th>
            <th  scope="col" >Valider</th>

        </thead>
        {{table_personnes}}

      </table>
      <table class="table" id="valider" style="width:70vw;margin:auto">
        <thead>

            <th style="width: 10px;">Num</th>
            <th>Personnes</th>
            <th  scope="col">Restaurer</th>

        </thead>
        <tbody class="termesV"></tbody>
        
      </table>
      <table class="table" id="supprimer" style="width:70vw;margin:auto">
        <thead>

            <th style="width: 10px;">Num</th>
            <th>Personnes</th>
            <th  scope="col">Restaurer</th>
            

        </thead>
        <tbody class="termesS"></tbody>
      </table>
      
             
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</html>